extends layout

block content
    sampler-scaffold(label="SU - Super Usuario")
        core-item(label="Zonas" tag="zonas" url="/superUsuario/zonas")
        core-item(label="Escuelas y Universidades" tag="universidades" url="/superUsuario/escuelas_universidades")
        core-item(label="Maratones" tag="maratones" url="/superUsuario/maratones")
        core-item(label="Preguntas" tag="preguntas" url="/superUsuario/preguntas")
