doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='import', href='/bower_components/sampler-scaffold/sampler-scaffold.html')
    link(rel='import', href='/bower_components/paper-tabs/paper-tabs.html')
    link(rel='import', href='/bower_components/core-transition/core-transition.html')
    link(rel='import', href='/bower_components/core-meta/core-meta.html')
    link(rel='import', href='/bower_components/paper-dialog/paper-dialog.html')
    link(rel='import', href='/bower_components/paper-button/paper-button.html')
    link(rel='import', href='/bower_components/paper-tabs/paper-tabs.html')
    link(rel='import', href='/bower_components/paper-fab/paper-fab.html')
    link(rel='import', href='/bower_components/paper-input/paper-input.html')
    link(rel='import', href='/elements/element-zona/index.html')
    script(src="/javascripts/angular.min.js")
  body
    block content